services:
  db:
    image: postgres:15
    container_name: fastapi-postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-vector-db
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  neo4j:
    image: neo4j:ubi9
    container_name: neo4j-graph-db
    environment:
      - NEO4J_AUTH=neo4j/testing_password
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_config:/config
    healthcheck:
      test:
        ["CMD-SHELL", "cypher-shell -u neo4j -p testing_password 'RETURN 1'"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: ./Ecommerce-API/Dockerfile
    container_name: fastapi-app
    env_file:
      - Ecommerce-API/.env
    environment:
      db_hostname: db
      qdrant_host: qdrant
      qdrant_collection_name: products
      neo4j_hostname: neo4j
      FASTEMBED_CACHE_PATH: /app/.cache/fastembed
      HF_HOME: /app/.cache/huggingface
    volumes:
      - fastembed_cache:/app/.cache
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]

volumes:
  postgres_data:
  qdrant_data:
  neo4j_data:
  neo4j_logs:
  neo4j_config:
  fastembed_cache:
